#bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8;
    z-index: 0;
    background-repeat: no-repeat;
    /* 3. Đổi ảnh nền tại đây */
    background-image: url(../img/trai.jpg); 
    background-size: cover;
    background-position: 50%;
    -webkit-filter: blur(4px);
  }